/* footer-social-list */
.footer-social {
    margin-left: 70px;
}

.footer-social-list {
    margin-top: 20px;
}

.footer-social__link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-text-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}

/* footer-sign-form */
.sign-form__button {
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.sign-form__button:hover,
.sign-form__button:focus {
    background-color: var(--hover-hero-button);
}

.footer__button:active {
    background-color: var(--hover-hero-button);
}

.button__icon {
    margin-left: 10px;
}

.sign-form {
    margin-left: auto;
}

.sign-form__field {
    display: flex;
    margin-top: 20px;
}

.sign-form__input {
    padding-left: 15px;
    margin-right: 12px;
    min-width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-hero-background-color);
    color: var(--white-text-color);
}

.sign-form__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}