.services-section {
    padding-top: 0;
}

.services__list {
    display: flex;
}

.services__item {
    position: relative;
    width: 370px;
}

.services__item:not(:last-child) {
    margin-right: 30px;
}

.services__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: var(--services-list-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
}